
.container {
    grid-template-columns: 100px 50px 100px;
    grid-template-rows: 80px auto 80px; 
    column-gap: 10px;
    row-gap: 15px;
  }

  .grid {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 8%;
    margin-right: 8%;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid brown;
    border-bottom: 1px solid brown;

  }
  
  div > div {
    padding: 20px;
  }
  